@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnqxfh');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnqxfh#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tnqxfh') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tnqxfh') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tnqxfh##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about {
  &:before {
    content: $icon-about; 
  }
}
.icon-analytics {
  &:before {
    content: $icon-analytics; 
  }
}
.icon-approved {
  &:before {
    content: $icon-approved;     
    color: #00df16;
  }
}
.icon-area {
  &:before {
    content: $icon-area;     
    color: #838383;
  }
}
.icon-bed {
  &:before {
    content: $icon-bed;     
    color: #838383;
  }
}
.icon-bigDownArrow {
  &:before {
    content: $icon-bigDownArrow;     
    color: #262626;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-conditioner {
  &:before {
    content: $icon-conditioner;     
    color: #838383;
  }
}
.icon-customize {
  &:before {
    content: $icon-customize;     
    color: #262626;
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;     
    color: #e80d25;
  }
}
.icon-displayType {
  &:before {
    content: $icon-displayType;     
    color: #262626;
  }
}
.icon-door {
  &:before {
    content: $icon-door;     
    color: #838383;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite;     
    color: #fff;
  }
}
.icon-floor {
  &:before {
    content: $icon-floor;     
    color: #838383;
  }
}
.icon-gas {
  &:before {
    content: $icon-gas;     
    color: #838383;
  }
}
.icon-hamgurger {
  &:before {
    content: $icon-hamgurger; 
  }
}
.icon-heating {
  &:before {
    content: $icon-heating;     
    color: #838383;
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-notAprroved {
  &:before {
    content: $icon-notAprroved;     
    color: #e80d25;
  }
}
.icon-parking {
  &:before {
    content: $icon-parking;     
    color: #838383;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-playRight {
  &:before {
    content: $icon-playRight;     
    color: #262626;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #fff;
  }
}
.icon-pool {
  &:before {
    content: $icon-pool;     
    color: #838383;
  }
}
.icon-print {
  &:before {
    content: $icon-print;     
    color: #fff;
  }
}
.icon-profile {
  &:before {
    content: $icon-profile;     
    color: #262626;
  }
}
.icon-rightArrow {
  &:before {
    content: $icon-rightArrow;     
    color: #262626;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #fff;
  }
}
.icon-selectedFavorite {
  &:before {
    content: $icon-selectedFavorite;     
    color: #f40049;
  }
}
.icon-share {
  &:before {
    content: $icon-share;     
    color: #fff;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;     
    color: #838383;
  }
}

