$icomoon-font-family: "icony" !default;
$icomoon-font-path: "fonts" !default;

$icon-about: "\e900";
$icon-analytics: "\e901";
$icon-approved: "\e902";
$icon-area: "\e903";
$icon-bed: "\e904";
$icon-bigDownArrow: "\e905";
$icon-bookmark: "\e906";
$icon-close: "\e907";
$icon-conditioner: "\e908";
$icon-customize: "\e909";
$icon-dashboard: "\e90a";
$icon-delete: "\e90b";
$icon-displayType: "\e90c";
$icon-door: "\e90d";
$icon-edit: "\e90e";
$icon-favorite: "\e90f";
$icon-floor: "\e910";
$icon-gas: "\e911";
$icon-hamgurger: "\e912";
$icon-heating: "\e913";
$icon-location: "\e914";
$icon-logout: "\e915";
$icon-message: "\e916";
$icon-notAprroved: "\e917";
$icon-parking: "\e918";
$icon-phone: "\e919";
$icon-playRight: "\e91a";
$icon-plus: "\e91b";
$icon-pool: "\e91c";
$icon-print: "\e91d";
$icon-profile: "\e91e";
$icon-rightArrow: "\e91f";
$icon-search: "\e920";
$icon-selectedFavorite: "\e921";
$icon-share: "\e922";
$icon-wifi: "\e923";

