<div class="Contianer-login">
    <div class="login">
        
        <h1>შეავსეთ</h1>

        <input type="text" placeholder="Full name">
        <input type="text" placeholder="Phone">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="password">
        <input type="password" placeholder="password-repeat">
        
        <p routerLinkActive="Active" routerLink="../Login">გაქ აქაუნთი? შედით</p>

        <button (click)="register()">რეგისტრაცია</button>

    </div>    
</div>