@import "~src/assets/Style/Linkin.scss";

$headerHeight : 20vh;
$footerHeight : 10vh;

.Header {
    i {
        font-size: 2vw;
        cursor: pointer;
    }
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: $headerHeight;
    background: $white;
    @include flex();

    .Logo {
        cursor: pointer;
        position: absolute;
        top:0;
        left:5vw;
        width: 10vw;
        height:inherit;

        img {
            height:100%;
            width:auto;
            object-fit: cover;
        }
    }

    .Navigation {
        letter-spacing: 3px;
        font-size: 1.6vw;
        position: absolute;
        left: 20vw;
        width: 25vw;
        @include flex(space-between);
    }

    .Languages {
        div {color:white;}
        cursor: pointer;
        position: absolute;
        right: 15vw;
        top:8vh;
        width: 5vw;
        background: $black;
        color: white;
        border-radius: 3px;
        @include flex(space-between, column);

        height:25px;
        padding: 2px;
        overflow: hidden;

        div {
            padding: 2%;
            height:35px;
            @include flex(center, column);
        }
    }

    .Profile {
        color: $black;
        &::before{
            color: $black;
        }
        position: absolute;
        right: 5vw;
    }

    .Language-dropdown { height:auto; }
    .Active { border-bottom: 1px solid $black; }
    p { cursor: pointer; }
}

.Content {
    z-index: 10;
    position: relative;
    margin-top: calc($headerHeight);
    min-height: calc(100vh - $headerHeight - $footerHeight);
    height:auto;
    left:0;
    width: 100vw;
    background:  $white;
}

.Footer {
    z-index: 10;
    margin-top: 7.5vh;
    position: relative;
    background: $black;
    width: 100vw;
    height: $footerHeight;
}

