<div class="Header">
    <p routerLinkActive="Active" routerLink="Home">Home</p>
    <p routerLinkActive="Active" routerLink="Products">Products</p>
    <p routerLinkActive="Active" routerLink="Help">Help</p>
    
    <p routerLinkActive="Active" routerLink="Login">Login</p>
    <p routerLinkActive="Active" routerLink="SignUp">SignUp</p>
    <p routerLinkActive="Active" routerLink="Profile">profile</p>
</div>

<div class="Content">
    <router-outlet></router-outlet>
</div>

<div class="Footer">
    footer;
</div>